/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  max-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

@font-face {
  font-family: "Norse";
  src: url(Norse-Bold.otf) format("opentype");
  font-weight: 800;
}

#root,
#__next {
  isolation: isolate;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: #fff;
}

.main {
  display: flex;
  max-height: 100vh;
}

.sidebar {
  background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  width: max(40%, 850px);
  height: max(100vh, 1013px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* odin logo */
.container-logo {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 9.375em;
}

.placeholder {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.375em;
  padding: 0.625em;
}

.placeholder img {
  height: 80%;
}

.placeholder span {
  font-family: "Norse", sans-serif;
  font-size: 5rem;
}

.image-description {
  color: #fff;
  text-align: center;
  margin-bottom: 0.9375em;
}
/* main form */
header,
.form,
.submit-form {
  height: 21em;
  padding: 3.125em;
}

header {
  /* height: 18.75em; */
  padding: 3.125em;
  background-color: #fafafa;
}

.heading-content {
  /* width: 48.4375em; */
  margin-top: 2.1875em;
}

.encouragement-statement {
  margin-top: 1.875em;
}

.form {
  background-color: #ffff;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  margin-bottom: 5px;
}

.form > h1 {
  margin-bottom: 0.9375em;
}

.form-details {
  width: 34.375rem;
}

input {
  width: 13.75em;
}

label {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 0.75rem;
}

label[for="last_name"] {
  margin-left: 220px;
}

input[id="last_name"],
input[id="tel"],
input[class="confirm_password"] {
  margin-left: 5.5em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  margin-bottom: 1.25em;
}

label[for="tel"] {
  margin-left: 262px;
}

label[id="confirm_password"] {
  margin-left: 227px;
}

/* form validation */
input:invalid {
  border: 2px solid red;
}

input:invalid:required {
  border: 1px solid red;
}

/* third section */
.submit-form {
  background-color: #fafafa;
}

input[type="submit"] {
  font-weight: 500;
  border: none;
  border-radius: 6px;
  background-color: #596d48;
  color: #fff;
  padding: 14px 40px;
  margin-bottom: 1.875rem;
}

input[type="submit"]:hover {
  background: #19a969;
  cursor: pointer;
}

.submit-form > p {
  font-weight: 500;
}

.log-in {
  color: #596d48;
}
